body{
	background-color: grey;
}
#clg{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2em;
	font-weight:800;
	color: white;
	background-color:#39424e;
}
#dept{
	text-align: center;
	font-size: 22px;
	color: white;
	background-color:#39424e;
	padding-bottom: 5px;
}

.heading{
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
	background-color: #E86955;
	color: white;
	padding: 2px;
	text-decoration: none;
}

#form{
	margin-top: 100px;
	margin-left: 100px;
	margin-right: auto;
	text-align: left;
	float : left;
}

#ques, #time{
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}


select{
	margin-left: 20px;
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    width: 60px;
    height : 30px;
    font-size: 20px;
    text-align: center;
}

textarea:focus, input:focus, select:focus{
    outline: none;
}


#group{
	margin-left: 15px;
	margin-top: 18px;
	font-size: 30px;
	font-family: Verdana;
	color: black;
	float : left;
}

#submit{
	width: 100%;
	height: 35px;
	font-size: 20px;
	font-family: "Impact";
	font-weight: 600;
}

#details-head{
	color: white;
	text-align: center;
	font-family: "Courier New";
	font-size: 25px;
	background-color: #39424e;
	padding: 6px;
}

#placeholder{
	float: right;
	margin-top: 100px;
	margin-right: 100px;
	width: 400px;
}

#key{
	text-align: center;
	background-color: white;
	width: 100%;
	height: 110px;
	padding:20px 5px 20px 5px;
	font-size: 20px;
	font-family: "Lucida";
}
#random{
	padding:20px 0px 10px 30px;
	font-size: 50px;
	font-weight: 800;
}

#genkey{
	width: 100%;
	border-radius: 10px;
	padding: 5px 5px 0px 5px;
	font-size: 20px;
	font-family: "Lucida Bright";
	outline: none;
	vertical-align: middle;
	font-weight: 700;
}
#butt{
	margin-top: 40px;
	width: 100%;
	height: 40px;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	font-size: 20px;
	font-family: "Lucida Bright";
	outline: none;
	font-weight: 700;
}
#tttt{
	font-size: 50px;
	background-color: white;
	margin-top: 30px;
	padding: 5px;
	text-align: center;
	font-weight: 700;
}
#uname{
	width: 20%;
	float: left;
	margin-top: 4px;
}
#logout{
	float: right;
	padding: 5px;
	font-size: 20px;
}
#change{
	margin-left: 55%;
	padding: 5px;
	font-size: 20px;
}
#newpasswd{
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
	border: solid 5px white;
	padding: 10px;
}
#cp, #np, #cnp, #final{
	font-size: 20px;
	margin: 5px;
	font-weight: 700;
}